@model TCC_MVC.Models.EvolutionGraphicModel

<table>
    <tr>
        <td>Ano</td>
        <td>N&ordm; de pubilcações nos últimos @Model.EvolutionGap @Model.EvolutionType</td>
    </tr>
    @foreach (var season in Model.Seasons)
    {
        <tr>
            <td>@season.year</td>
            <td>@season.total </td>
        </tr>
    }
</table>