@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Ferramenta de Análise de Produção Científica.</h1>
                <h2>O propósito desta aplicação consiste no desenvolvimento de uma aplicação que possibilite a 
                análise dos dados acadêmicos dos pesquisadores do Instituto de Informática.</h2>
            </hgroup>
            <p>
                Esses dados são analisados com base no currículo Lattes dos pesquisadores. A aplicação permite a 
                consulta sobre as publicações de um professor/pesquisador grupo, ou linha de pesquisa. Também emite 
                relatórios de consolidação, facilitando a análise dos dados.
            </p>
        </div>
    </section>
}
<h3>Funcionalidades:</h3>
<ol class="round">
    <li class="one">
        <h5>Professor/Pesquisador</h5>
        Funcionalidade que permite que o cadastro e edição de pesquiadores.
        @Html.ActionLink("Ver mais..", "Index", "Research")
    </li>

    <li class="two">
        <h5>Pesquisa</h5>
        Funcionalidade que permite que a pesquisa por pesquisadores, linha e grupo de pesquisas. Além disso, é possível contabilizar
        a quantidade de qualis das publicações.
        @Html.ActionLink("Ver mais..", "Index", "Application")
    </li>

    <li class="three">
        <h5>Linhas/Grupo de Pesquisa</h5>
        Funcionalidade que permite cadastro e edição dos grupos e linhas de pesquisa.
        @Html.ActionLink("Grupos", "Index", "Group") e @Html.ActionLink("Linhas", "Index", "Line").
    </li>
</ol>
