@model TCC_MVC.Models.Curriculos
@{
    ViewBag.Title = "Index";
}

    <a id="noHover" href=@Url.Action("New")><input type="button" value="Novo Pesquisador" /></a>

<table>
    <tr>
        <td><b>Nome</b></td>
        <td><b>Trabalhando</b></td>
        <td><b>Ações</b></td>
    </tr>
    @foreach (var research in ViewBag.List)
    {
        <tr>
            <td>@research.Name</td>
            <td>@(research.Working == true ? "Sim" : "Não")</td>
            <td>@Html.ActionLink("Editar", "Edit", "Research", new { idAuthor = research.Id }, null)</td>
            <td>@Html.ActionLink("Ver publicações", "Research", "Application", new { id = research.Id}, null)</td>
        </tr>
    }
</table>